# Server Properties
#-----------------------------------------------------------
Server.IP=127.0.0.1
Server.Port=54321


# Timer Properties
#-----------------------------------------------------------
# MSecPerTick -- sleep time between ticks (in msec)
# SimulationSpeed -- no. of realtime msec per simulated sec
#-----------------------------------------------------------
Timer.MSecPerTick=1
Timer.SimulationSpeed=10
